<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--首先判断属否有数据，没有数据整个表格就不显示-->
    <table border="1px" th:if="${not#lists.isEmpty(userInfoList)}">
        <tr>
            <td>用户编号</td>
            <td>用户名</td>
            <td>用户密码</td>
        </tr>
        <tr th:each="user:${userInfoList}">
            <td th:text="${user.userid}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
        </tr>

    </table>
    <h1 th:text="${name}"></h1>
    <button value="点我" onclick="showName()">fdsaf</button>
</body>
    <script th:inline="javaScript">
        function showName(){
            var name=[[${name}]];
            alert(name);
        }
    </script>
</html>